@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>@ViewBag.Title</title>
    <link href='@Url.Content("~/Content/Site.css")' rel="stylesheet" type="text/css" />
    <style type="text/css">
        table, tr, td, th
        {
            border: solid 1px #999999;
            border-collapse: collapse;
            height: 28px;
        }
        th
        {
            background: #cceeff;
            text-align: right;
            padding-right: 3px;
            font-weight: normal;
        }
        td
        {
            color: #0000FF;
            padding-left: 3px;
        }
        body
        {
            padding: 10px 30px;
        }
    </style>
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;
        border-collapse: collapse; table-layout: fixed;">
        <colgroup>
            <col width="100px"></col>
            <col></col>
            <col width="100px"></col>
            <col></col>
        </colgroup>
        <tr>
            <th>
                标题：
            </th>
            <td colspan="3">@ViewBag.info.Title
            </td>
        </tr>
        <tr>
            <th>
                发件人：
            </th>
            <td>@ViewBag.Creator
            </td>
            <th>
                发件时间：
            </th>
            <td>@ViewBag.info.SendDate
            </td>
        </tr>
        <tr>
            <th>
                收件人：
            </th>
            <td colspan="3">@ViewBag.Receivers
            </td>
        </tr>
        <tr>
            <th>
                内容：
            </th>
            <td colspan="3">@ViewBag.info.Content
            </td>
        </tr>
        <tr>
            <th>
                附件：
            </th>
            <td colspan="3">
                &nbsp;
                <ul>
                    @foreach (var item in ViewBag.files)
                    {
                        <li>@Html.Raw(@item)</li>
                    }
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>
