@section header {
    <style type="text/css">
        .msg table,.msg tr,.msg td,.msg th
        {
            border: solid 1px #999999;
            border-collapse: collapse;
            height: 28px;
        }
        .msg th
        {
            background: #cceeff;
            text-align: right;
            padding-right: 3px;
            font-weight: normal;
        }
        .msg td
        {
            color: #0000FF;
            padding-left: 3px;
        }
    </style>
    <script type="text/javascript">
        function reply() {
            
        }
        function transmit() {
            
        }
        Ext.onReady(function () {
            Ext.create('Ext.container.Viewport', {
                layout: 'fit',
                border: 0,
                items: [{
                    layout: {
                        type: 'hbox',
                        align: 'stretch'
                        //pack: 'start'
                    },
                    defaults: {
                        flex: 1 //子元素平均分配宽度
                    },
                    autoScroll: true,
                    bodyPadding: 20,
                    padding: 0,
                    margin: 0,
                    tbar: [
                        { xtype: 'label', text: '个人办公 -> 公告板', cls: 'formNav' },
                        { xtype: 'tbseparator' },
                        { xtype: 'button', iconCls: 'iconReply', tooltip: '回复', tooltipType: 'title', handler: function (source, e) { debugger; window.parent.addTab('/office/myOffice/MsgNew?type=reply&id=@ViewBag.info.ID', '回复:@ViewBag.info.Title'); } },
                        { xtype: 'button', iconCls: 'iconTransmit', tooltip: '转发', tooltipType: 'title', handler: function (source, e) { window.parent.addTab('/office/myOffice/MsgNew?type=transmit&id=@ViewBag.info.ID', '转发:@ViewBag.info.Title'); } },
                        { xtype: 'button', iconCls: 'iconRefresh', tooltip: '刷新，尚未实现！', tooltipType: 'title', handler: function (source, e) { window.location.href = window.location.href; } },
                        { xtype: 'tbfill' },
                        { xtype: 'button', iconCls: 'helpIcon', tooltip: '帮助', tooltipType: 'title', handler: function (source, e) { alert('帮助!') } },
                        { xtype: 'button', iconCls: 'iconClose', text: '', tooltip: '关闭', tooltipType: 'title', handler: function (source, e) { window.parent.closeMe(window) } }
                    ],
                    bbar: [
                    { xtype: 'button', text: 'Button 1', handler: function (source, e) { openWindow(); } }
                    ],
                    contentEl: 'mainDiv'
                }]
            });
        });
    </script>
}
<div id='mainDiv'style="margin:0; padding:0">
    <table class='msg' width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;
        border-collapse: collapse; table-layout: fixed;">
        <colgroup>
            <col width="100px" />
            <col />
            <col width="100px" />
            <col />
        </colgroup>
        <tr>
            <th>
                标题：
            </th>
            <td colspan="3">@Html.Raw(@ViewBag.info.Title)
            </td>
        </tr>
        <tr>
            <th>
                发件人：
            </th>
            <td>@ViewBag.Creator
            </td>
            <th>
                发件时间：
            </th>
            <td>@ViewBag.info.SendDate
            </td>
        </tr>
        <tr>
            <th>
                收件人：
            </th>
            <td colspan="3">@ViewBag.Receivers
            </td>
        </tr>
        <tr>
            <th>
                内容：
            </th>
            <td colspan="3">@Html.Raw(@ViewBag.info.Content)
            </td>
        </tr>
        <tr>
            <th>
                附件：
            </th>
            <td colspan="3">
                <ul style="display:block; margin:10px; padding: 1px;">
                    @foreach (var item in ViewBag.files)
                    {
                        <li style="float:left; margin:1px; margin-right:20px; padding: 1px;">@Html.Raw(@item)</li>
                    }
                </ul>
            </td>
        </tr>
        @if (ViewBag.IsSender)
        {
        <tr>
            <th>
                回复：
            </th>
            <td colspan="3">
                <ul style="display:block; margin:10px; padding: 1px;">
                    @foreach (var item in ViewBag.children)
                    {
                        <li>@Html.Raw(@item)</li>
                    }
                </ul>
            </td>
        </tr>
        }
        <tfoot valign="bottom">
            <input type="button" onclick='reply()' value='回复'/>
            <input type="button" onclick='transmit()' value='转发'/>
        </tfoot>
    </table>
</div>
