@model BuizApp.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>苏迈克斯协同办公系统－登录</title>
    <link href="@Url.Content("~/Content/ExtJS/resources/css/ext-all.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Content/ExtJS/ext-all-debug.js")" type="text/javascript"></script>
    <script type="text/javascript">
        Ext.onReady(function () {
            Ext.create('Ext.window.Window', {
                title: '<div style="line-height:120%">苏迈克斯协同办公系统－登录</div>',
                renderTo: Ext.getBody(),
                //height: 400,
                width: 400,
                modal: true,
                closable: false,
                layout: 'fit',
                items: [{
                    xtype:'form',
                    url: '/login',
                    bodyPadding: 10,
                    border: 0,
                    //width: 200,
                    //layout: 'anchor',
                    defaults: {
                        anchor: '100%',
                        labelWidth: 60
                    },
                    defaultType: 'textfield',
                    items: [
                    { name: 'name', fieldLabel: '用户名', value: '@Model.name', allowBlank: false },
                    { name: 'pwd', inputType: 'password', fieldLabel: ' 口令', value: '@Model.pwd' },
                    {
                        xtype: 'fieldcontainer',
                        //name: 'jym', 
                        fieldLabel: ' 校验码',
                        msgTarget: 'under',
                        layout: 'hbox',
                        defaults: {
                            hideLabel: true
                        },
                        items: [
                            { xtype: 'textfield', fieldLabel: 'Phone 1', name: 'phone-1', width: 60 },
                            { xtype: 'displayfield', html: '<img src=\'@Url.Content("~/Content/images/imagecode.jpg")\' alt="ddd"/>', margin: '0 40 0 4', width: 40 },
                            { xtype: 'checkboxfield', name: 'phone-1', boxLabel: "两周内自动登录", flex: 1 }
                        ]
                    }
                ],
                    standardSubmit: true,
                    buttons: [
                    { text: '登录', handler: function () { this.up('form').getForm().submit(); } },
                    { text: '找回密码', margin: '0 4 0 10 ', handler: function () { this.up('form').getForm().submit(); } }
                ]
                }]
            }).show();
        });
    </script>
</head>
<body>
</body>
</html>
