<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/ExtJS/resources/css/ext-all.css")" rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Site.css")' rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/ExtJS/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/javascript/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/javascript/BuizForm.js")" type="text/javascript"></script>
    @RenderSection("header",false)
    <script type="text/javascript">
        Ext.onReady(function () {
            Ext.tip.QuickTipManager.init();

            // Apply a set of config properties to the singleton
//            Ext.apply(Ext.tip.QuickTipManager.getQuickTip(), {
//                maxWidth: 200,
//                minWidth: 100,
//                showDelay: 50      // Show 50ms after entering target
//            });
        });
    </script>
</head>
<body>
    @*@RenderPage(“~/Views/Shared/_Header.cshtml”)*@ 
    @RenderBody()
</body>
</html>
